[Desktop Entry]
Name=Negiri
Comment=A film negative scanning and RAW image editor
Type=Application
Icon=io.github.jpttrssn.negiri
Exec=negiri %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
